.card {
  overflow: hidden;
  max-width: 280px;
  border: 1px solid #73d2ec;
  border-radius: 4px;
  background: #fff;
  color: #9c4d95;
  box-sizing: border-box;
}

.thumb {
  aspect-ratio: 16/ 9;
  background: linear-gradient(135deg, #d578bb, #9f39ed);
}

.body {
  padding: 8px 10px;
}

.body h3 {
  margin: 0;
  color: black;
}

.body p {
  margin: 4px 4px;
  color: #aa5d5d;
}

img {
  max-width: 100%;
  height: auto;
}
