.circle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(rgb(112, 193, 31));
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.6;
  }
}
